services:
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - --path.rootfs=/rootfs
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
    networks: ["monitoring"]
  
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    user: "0"
    restart: always
    depends_on:
    - node-exporter
    healthcheck:
    test: ["CMD-SHELL", "curl -f http://localhost:9090/-/ready || exit 1"]
    interval: 10s
    retries: 5
    start_period: 10s
    timeout: 5s
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/rules:/etc/prometheus/rules:ro
      - prometheus_data:/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.enable-lifecycle
    ports:
      - "9090:9090"
    networks: ["monitoring"]

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    depends_on:
      - prometheus
    user: "0"
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin}
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
    networks: ["monitoring"]

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=monitordb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks: ["monitoring"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d monitordb"]
      interval: 5s
      retries: 10

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: postgres-exporter
    restart: unless-stopped
    environment:
    - DATA_SOURCE_NAME=postgresql://postgres:123@postgres:5432/monitordb?sslmode=disable
    ports:
      - "9187:9187"
    depends_on:
      postgres:
        condition: service_healthy
    networks: ["monitoring"]

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks: ["monitoring"]

  loki:
    image: grafana/loki:2.9.1
    container_name: loki
    restart: unless-stopped
    user: "0"
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/loki-config.yaml
      - ./loki/data:/loki/data
    command: -config.file=/etc/loki/loki-config.yaml -config.expand-env=true
    ports:
      - "3100:3100"
    networks: ["monitoring"]

  promtail:
    image: grafana/promtail:2.9.1
    user: root
    container_name: promtail
    restart: unless-stopped
    volumes:
      - ./promtail/promtail-config.yaml:/etc/promtail/promtail-config.yaml
      - /var/log:/var/log:ro
      - ./promtail/positions:/positions
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/lib/postgresql/data/pg_log:/var/lib/postgresql/data/pg_log:ro
      - /var/log/audit:/var/log/audit:ro
    command: -config.file=/etc/promtail/promtail-config.yaml
    networks: ["monitoring"]
    depends_on:
      - loki

volumes:
  prometheus_data: {}
  grafana_data: {}
  postgres_data: {}

networks:
  monitoring: {}